# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
.output
.nuxt

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Coverage
coverage

# Vite
*.timestamp-*-*.mjs

# Testing
cypress/videos/
cypress/screenshots/
__screenshots__/
